@font-face {
    font-family: lifecraft;
    src: url(./fonts/LifeCraft_Font.ttf);
}
@font-face {
    font-family: morpheus;
    src: url(./fonts/MORPHEUS.TTF);
}

$headFont: "morpheus";
$headingColor: #FFFFFF;
$bodyFont: "lifecraft";
$bodyColor: #FFFFFF;
$allianceBackground: #243A63;
$allianceParagraphBack: #243A63;
$hordeBackground: #480000;
$hordeParagraphBack: #6C171A;
$mainBackground: #202020;
$mainParagraph: #4B443C;
$borderColor: #9E6F21;

@mixin heading() {
    color: $headingColor;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

@mixin paragraph() {
    background-color: $mainBackground;
    font-family: $headFont;
    color: $bodyColor;
    padding: 1%;
    border: solid;
    border-color: $borderColor;
    border-radius: 10px;
}