{% extends 'base.html' %}

{% block content%}
<body>
<h1>Worlds</h1>
        <h2>Azeroth</h2>
        <div id="carousel1" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="static\images\azeroth\azeroth_map.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Azeroth</h5>
                        <p>World map of azeroth</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\azeroth\azuremystisle.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Azure Myst Isle</h5>
                        <p>Home of the Draenei</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\azeroth\bfalordaeronruins.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Lordaeron Ruins</h5>
                        <p>Ruined City of Lordaeron, the Undercity lies beneath</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\azeroth\boralus.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Boralus</h5>
                        <p>Capital City of Kul Tiras</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\azeroth\darncity.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Darnassus</h5>
                        <p>Home of the Night Elf's</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\azeroth\dazaralor.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Dazar'alor</h5>
                        <p>Capital City of Zandalar</p>
                        </div>
                        </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                </button>
        </div>
        <p>“This is Azeroth. A dangerous, beautiful, magical, and inspiring world. A world filled with discovery, innovation, and wonder. A world worth fighting for. A world worth protecting.”
        <br><br>
        — Ultimate Visual Guide, pg. 11
        </p>
<h2>Outland</h2>
        <div id="carousel2" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="static\images\outland\outland_map.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Outland</h5>
                        <p>Ruined World of Dreanor</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\outland\hellfirepeninsula.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Hellfire Peninsula</h5>
                        <p>Home of the Fel Orcs and the Dark Portal</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\outland\zangarmarsh.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Zangarmarsh</h5>
                        <p>Mushrooms and Danger</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\outland\nagrand.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Nagrand</h5>
                        <p>Shattered Home of the Orcs</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\outland\shattrathcity.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Shattrath City</h5>
                        <p>Capital City of Outland</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\outland\shadowmoonvalley.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Shadowmoon Valley</h5>
                        <p>Home of the Black Temple and Illidan Stormrage</p>
                        </div>
                        </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                </button>
        </div>
        <p>“A world shattered?" His tone told her that he thought her words a gross understatement. "Terrible hardly begins to describe it. We thought the world was ending. The sky burned. The continents ripped apart. Lava flowed. Wild magic danced from mountain peak to mountain peak. Sometimes the tips of mountains rose into the air and floated away. Sometimes they crashed down and killed thousands.”
        <br><br>
        — Alexius to Maiev Shadowsong</p>
<h2>Shadowlands</h2>
        <div id="carousel4" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="6" aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carousel4" data-bs-slide-to="7" aria-label="Slide 8"></button>
                </div>
                <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="static\images\shadowlands\shadowlandsmap.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>The Shadowlands</h5>
                        <p>World map of The Shadowlands</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\shadowlands\ardenweald.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Ardenweald</h5>
                        <p>Home of the Night Fae</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\shadowlands\bastion.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Bastion</h5>
                        <p>Home of The Ascended</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\shadowlands\maldraxxus.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Maldraxxus</h5>
                        <p>Home of The Necrolord</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\shadowlands\revendreth.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Revendreth</h5>
                        <p>Home of the Venthyr</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\shadowlands\oribos.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Oribos</h5>
                        <p>Heart of the Shadowlands</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\shadowlands\maw.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>The Maw</h5>
                        <p>Wasteland of the Damned</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="static\images\shadowlands\zerethmortis.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Zereth Mortis</h5>
                        <p>Home of the First Ones</p>
                        </div>
                        </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                </button>
        </div>
        <p>“Death was not the end I believed it to be. No rest or joyous reunions in the Light awaited me. What I witnessed challenged all I knew. With my final breath, I saw impossible places—worlds within worlds brimming with beings that defied description. It wasn't until the Helm of Domination was placed upon my head that I understood the truth I had seen: Death is not an end, but a beginning.”
        <br><br>
        — Bolvar Fordragon</p>
</body>
{% endblock content%}